@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-darkPurple: hsl(246, 80%, 60%);
  --color-primary-orange: hsl(15, 100%, 70%);
  --color-primary-blue: #2d809c;
  --color-primary-pink: hsl(348, 100%, 68%);
  --color-primary-green: hsl(145, 58%, 55%);
  --color-primary-lightPurple: hsl(264, 64%, 52%);
  --color-primary-yellow: hsl(43, 84%, 65%);
  --color-neutral-darkerNavy: hsl(226, 43%, 10%);
  --color-neutral-lighterNavy: hsl(235, 46%, 20%);
  --color-neutral-purple: hsl(235, 45%, 61%);
  --color-neutral-navy: hsl(236, 100%, 87%);
  --color-backgroundColor: #101010;
  --color-blur1: #00ffff;
  --color-baseTextColor: #f5f5f5;
  --font-poppins: "Poppins", sans-serif;
}
